.five-star-eval {
  width: 100%;
  height: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;

  .star-box {
    width: 84px;
    height: 16px;
    overflow: hidden;

    &__bg-1 {
      position: absolute;
      width: 100%;
      max-width: 84px;
      height: 16px;
      background-color: #d5d5d5;
      z-index: 0;
    }

    &__bg-2 {
      position: absolute;
      width: 0;
      max-width: 84px;
      height: 16px;
      background-color: orange;
      z-index: 1;
    }

    .star {
      flex-shrink: 0;
      flex-grow: 0;
      width: 84px;
      height: 16px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAAAQCAYAAACIoli7AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAVKADAAQAAAABAAAAEAAAAAAaGzPJAAABZklEQVRYCe2XvU4CQRRGGQuNiQmNjRpBEgxKITHGl7KXhifwBUjgJah4BuwIjT+NiRojjRbGxgjRc5MZMs7uMqzt3ZscdvbO5StOlt3F/FCl7Lpiawad7JHojqoMs0ToJ6qqVtcjx62ouuSAuoy1pINFp2+MeRfo9BfdfAt9GXKFptQXvV3njvUeSC9PqcwopRia07t0Mt2RXhtkb5VSmyH30BHSxnAPdzDhZz7lmChm5ao9gQYcwRmcwzUUGeIDSafI+Ffx3RZIFRkYxENLPqYgV1uu4juH8ApSRYb14e6hL0ipr2qU2QN4Br+KDGw4oSLmCXZiUpnZhgdIK/UZ/nvoPjIvYkLtTC1jTn2GL1QcbWSI8tvr/knKWnVGKFRem2J1ExlQnREK/SOLm2QTjgOBt8F5eKo7I3iylMUOvQYMvL0h66bd22S97B+T6gz/Kf+BKHkd6sI3hDWj0YMKvIWb9lx9xi+ZwKSHPQMBuAAAAABJRU5ErkJggg==");
      background-size: 100%;
      overflow: hidden;
      position: relative;
      z-index: 2;
    }
  }

  .score-box {
    font-size: 12px;
    line-height: 16px;
    color: #666;
    padding: 0 4px;
  }
}
