.five-star-eval {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;

  &__star-box {
    box-sizing: border-box;
    width: 100%;
    background: url("./assets/star_sprite.png");
    background-size: 100%;
    overflow: hidden;
  }

  &__score-box {
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 12px;
    line-height: 1.5;
    padding: 0 4px;
    font-style: italic;
    color: #666;
  }
}
